.Blue-Smoke {
  $color: #4d504f;

  .avue-sidebar,
  .avue-header,
  .avue-logo,
  .tags-container {
    background-image: linear-gradient(270deg, rgba(70, 138, 240, .18), transparent);
    background-color: #4d504f;
  }

  .avue-sidebar .search .i-box {
    background: $color;
    box-shadow: 0 2px 6px 0 $color;
  }

  .menubar {
    .el-submenu__title {

      i,
      span {
        color: $color !important;
      }

    }
  }

  .el-menu.el-menu--popup {
    background: $color !important;

    span,
    i {

      color: #fff !important;
    }
  }

}
